In [255]:
import pandas as pd 
import seaborn as sns 
import numpy as np

In [256]:
df= pd.read_csv('dataset.csv')

In [257]:
df

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

### check info to understaned data

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

### check dupicates aand drop it

In [210]:
df.duplicated().sum()

401

In [211]:
df.drop_duplicates(inplace=True , ignore_index=True)

### Check for missing data

In [212]:
df.isnull().sum()

POSTED_BY                0
UNDER_CONSTRUCTION       0
RERA                     0
BHK_NO.                  0
BHK_OR_RK                0
SQUARE_FT                0
READY_TO_MOVE            0
RESALE                   0
ADDRESS                  0
LONGITUDE                0
LATITUDE                 0
TARGET(PRICE_IN_LACS)    0
dtype: int64

### Remove outliers

In [258]:
from datasist.structdata import detect_outliers

In [259]:
df.columns

Index(['POSTED_BY', 'UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'BHK_OR_RK',
       'SQUARE_FT', 'READY_TO_MOVE', 'RESALE', 'ADDRESS', 'LONGITUDE',
       'LATITUDE', 'TARGET(PRICE_IN_LACS)'],
      dtype='object')

In [264]:
outliers = detect_outliers(df , 0 , ["SQUARE_FT"])

In [267]:
len(outliers)

412

In [268]:
df.drop(outliers , axis = 0 , inplace=True)

KeyError: '[81, 94, 165, 171, 240, 259, 345, 363, 611, 660, 795, 880, 1085, 1202, 1204, 1306, 1382, 1609, 1740, 1775, 1879, 2156, 2229, 2265, 2406, 2490, 2522, 2619, 2709, 2785, 2786, 2930, 3046, 3334, 3453, 3603, 3633, 3643, 3813, 3932, 3941, 4010, 4072, 4342, 4374, 4424, 4454, 4637, 4712, 4733, 4767, 4778, 4822, 4914, 4941, 4969, 5002, 5034, 5209, 5298, 5299, 5371, 5378, 5406, 5458, 5661, 5708, 5750, 5835, 5978, 6005, 6089, 6152, 6197, 6329, 6373, 6387, 6395, 6464, 6494, 6580, 6600, 6614, 6674, 6697, 6737, 6833, 6873, 6886, 6939, 7076, 7104, 7209, 7213, 7312, 7515, 7575, 7654, 7711, 7768, 7794, 7810, 7829, 7924, 8010, 8011, 8190, 8205, 8258, 8521, 8540, 8549, 8565, 8651, 8697, 8716, 8781, 8879, 8975, 8978, 9053, 9229, 9297, 9422, 9462, 9685, 9709, 9782, 9845, 9859, 9881, 9980, 10030, 10057, 10101, 10128, 10194, 10238, 10292, 10353, 10357, 10669, 10674, 10706, 11102, 11211, 11231, 11239, 11288, 11290, 11331, 11358, 11484, 11506, 11516, 11673, 11755, 11768, 11898, 11951, 11989, 12107, 12141, 12170, 12409, 12839, 12954, 12956, 13019, 13102, 13117, 13483, 13543, 13580, 13593, 13645, 13656, 13725, 13730, 13732, 13814, 13836, 14012, 14239, 14395, 14465, 14567, 14636, 14641, 14724, 14736, 14743, 14763, 14811, 14819, 14822, 14908, 14963, 15192, 15251, 15404, 15411, 15470, 15513, 15799, 15863, 15934, 15941, 15951, 16011, 16020, 16335, 16459, 16521, 16683, 16731, 16858, 16877, 16921, 16969, 17132, 17227, 17231, 17301, 17465, 17520, 17638, 17655, 17703, 17733, 17741, 17816, 17834, 18041, 18043, 18047, 18050, 18059, 18144, 18183, 18188, 18190, 18328, 18337, 18489, 18510, 18522, 18587, 18609, 18636, 18873, 19076, 19148, 19186, 19227, 19288, 19342, 19349, 19385, 19509, 19579, 19843, 19858, 19910, 20012, 20017, 20083, 20126, 20194, 20243, 20324, 20361, 20416, 20549, 20561, 20611, 20647, 20678, 20688, 20780, 20823, 20846, 21139, 21151, 21184, 21202, 21218, 21340, 21454, 21514, 21554, 21576, 21720, 21798, 21856, 21906, 22013, 22099, 22247, 22370, 22375, 22410, 22424, 22764, 22777, 22946, 23001, 23022, 23030, 23082, 23085, 23140, 23181, 23189, 23433, 23543, 23548, 23590, 23756, 23811, 23946, 23967, 24016, 24071, 24077, 24135, 24242, 24388, 24493, 24540, 24545, 24568, 24653, 24714, 24785, 24820, 24888, 24909, 25021, 25088, 25109, 25139, 25181, 25189, 25206, 25221, 25324, 25400, 25404, 25544, 25601, 25614, 25640, 25645, 25763, 25926, 25970, 26051, 26084, 26146, 26339, 26356, 26413, 26446, 26590, 26649, 26699, 26703, 26754, 26818, 26884, 26896, 26916, 26959, 27100, 27200, 27378, 27481, 27486, 27525, 27549, 27642, 27708, 27734, 27754, 27775, 27896, 27903, 27981, 28094, 28245, 28307, 28345, 28397, 28481, 28505, 28548, 28553, 28561, 28588, 28590, 28733, 28771, 28793, 28800, 28935, 28956, 29057, 29068, 29229, 29311, 29446] not found in axis'

In [269]:
df.reset_index(inplace=True , drop=True)

### check corrleation

In [270]:
##df.corr()

In [271]:
df['CITY']=df['ADDRESS'].apply(lambda x : x.split(',')[1])

In [272]:
from category_encoders import BinaryEncoder

In [273]:
df.drop(['CITY'],axis=1,inplace=True)

In [274]:
df

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
27399,Owner,0,0,2,BHK,1062.134891,1,1,"Tilakwadi,Belgaum",15.866670,74.500000,40.0
27400,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
27401,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
27402,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
27403,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

In [275]:
df['SQUARE_FT']=np.log(df['SQUARE_FT'])

### let's start encoding ..

In [276]:
df['POSTED_BY'].value_counts()

Dealer     16638
Owner      10184
Builder      582
Name: POSTED_BY, dtype: int64

In [277]:
df['BHK_OR_RK'].value_counts()

BHK    27380
RK        24
Name: BHK_OR_RK, dtype: int64

In [278]:
from sklearn.preprocessing import OneHotEncoder

In [279]:
encder = OneHotEncoder(sparse=False,drop="first")

In [280]:
transformed = encder.fit_transform(df[["POSTED_BY" ,"BHK_OR_RK"]])

In [281]:
transformed_df = pd.DataFrame(transformed , columns=encder.get_feature_names_out())

In [282]:
transformed_df

       POSTED_BY_Dealer  POSTED_BY_Owner  BHK_OR_RK_RK
0                   0.0              1.0           0.0
1                   1.0              0.0           0.0
2                   0.0              1.0           0.0
3                   0.0              1.0           0.0
4                   1.0              0.0           0.0
...                 ...              ...           ...
27399               0.0              1.0           0.0
27400               0.0              1.0           0.0
27401               1.0              0.0           0.0
27402               0.0              1.0           0.0
27403               1.0              0.0           0.0

[27404 rows x 3 columns]

In [283]:
df.reset_index(inplace=True , drop=True)

In [284]:
df = pd.concat([df , transformed_df] , axis = 1)

In [285]:
df.drop(['POSTED_BY','BHK_OR_RK'], axis = 1 , inplace=True)

In [286]:
df.drop(['ADDRESS' ,'LONGITUDE','LATITUDE'] , axis = 1 , inplace=True)

### Split the data to train and test

In [287]:
from sklearn.model_selection import train_test_split

In [288]:
x = df.drop(['TARGET(PRICE_IN_LACS)'] , axis =1)
y=df['TARGET(PRICE_IN_LACS)']

In [289]:
x_train , x_test , y_train , y_test = train_test_split(x, y , test_size=0.2 , random_state=7
                                                    )

### Scaling the numerical features

In [290]:
from sklearn.preprocessing import StandardScaler

In [291]:
scaler= StandardScaler()

In [292]:
df.columns

Index(['UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'SQUARE_FT', 'READY_TO_MOVE',
       'RESALE', 'TARGET(PRICE_IN_LACS)', 'POSTED_BY_Dealer',
       'POSTED_BY_Owner', 'BHK_OR_RK_RK'],
      dtype='object')

In [293]:
col_to_scalled = ["SQUARE_FT"]

In [294]:
x_train[col_to_scalled] = scaler.fit_transform(x_train[col_to_scalled])

In [295]:
x_test[col_to_scalled] = scaler.fit_transform(x_test[col_to_scalled])

### Train the linear regression model

In [296]:
from sklearn.linear_model import LinearRegression

In [297]:
model = LinearRegression()

In [298]:
model.fit(x_train , y_train)

LinearRegression()

In [299]:
y_pred=model.predict(x_test)

In [300]:
y_pred

array([122.24209271, 118.32189564,  78.88491406, ..., 128.61820309,
        48.606456  , 105.15331438])

In [301]:
from sklearn.metrics import mean_squared_error , r2_score

In [302]:
mean_squared_error(y_test , y_pred , squared=False)

87.1251088768473

In [303]:
model.score(x_test , y_test)

0.16575539263886008

In [304]:
model.coef_

array([ -2.0413538 ,   7.1786469 ,  21.76618465,  14.37975825,
         2.0413538 , -12.51147231,  55.26188334,  10.43250997,
        32.04527668])

In [305]:
r2_score(y_test , y_pred )

0.16575539263886008

In [306]:
y_test

25228     54.7
4558      55.0
16658     45.0
17588     73.0
18851     98.0
         ...
15219     21.3
16526    120.0
14545    160.0
3         62.5
507       95.0
Name: TARGET(PRICE_IN_LACS), Length: 5481, dtype: float64

In [307]:
x_test

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,POSTED_BY_Dealer,POSTED_BY_Owner,BHK_OR_RK_RK
25228,0,0,3,0.605464,1,1,1.0,0.0,0.0
4558,0,0,3,0.332845,1,1,1.0,0.0,0.0
16658,1,1,2,-1.981395,0,0,1.0,0.0,0.0
17588,0,0,3,0.294184,1,1,1.0,0.0,0.0
18851,0,0,2,0.321445,1,1,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
15219,0,0,2,-0.781559,1,1,1.0,0.0,0.0
16526,0,0,3,1.208338,1,1,0.0,1.0,0.0
14545,0,0,3,1.048873,1,1,1.0,0.0,0.0
3,0,1,2,-0.383338,1,1,0.0,1.0,0.0
507,0,0,2,0.930741,1,1,1.0,0.0,0.0

In [308]:
model.predict([[1,0,2,0.588750,0,1,1.0,0.0,0.0]])

D:\anaconda\envs\epsilon_eslam\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([96.15285865])

In [309]:
r2_score(y_test , y_pred)

0.16575539263886008